.link {
  cursor: pointer;
  text-decoration: underline;
  position: absolute;
  top: 40%;
  left: 50%;
}

.overlay {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 100;
  pointer-events: none;
  opacity: 0;
  transition: opacity .12s linear;
}

.captcha-container {
  width: 40vw;
  max-width: 400px;
  height: 70vh;
  padding: 20px;
  padding-bottom: 100px;
  background-color: #fff;
  position: absolute;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: flex-end;
  box-sizing: border-box;
}

.captcha-image {
  width: 100%;
  padding: 0;
  padding-bottom: 100%;
  margin: 0 auto;
  box-sizing: border-box;
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
  filter: blur(1px);
}

.captcha-input {
  width: 100%;
  box-sizing: border-box;
}

.captcha-button {
  width: 40%;
  cursor: pointer;
}
